.container{
    height: 30%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    .metrics{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: 2px solid black;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            align-self: center;
        }
        .value {
            font-size: 30px;
            font-weight: bold;
        }
        .name {
            color: #b1b1b1;
        }
    }
}