<div class="container">
    <div *ngFor="let d of data" class="metrics">
        <span class="value">
            {{ d.metrics | slice:0:1 }}
        </span>
        <span class="name">
            {{ d.name }}
        </span>
    </div>
</div>
