<div class="container">
    <div class="dataMetrics">
        <div *ngFor="let d of data"
             (click)="onSelectColumnMetric(d.name)">
            <span>{{ d.name }}</span>
            <ul>
                <li *ngFor="let value of d.metrics"> {{ value }} </li>
            </ul>
        </div>
    </div>
</div>