.container {
    height: 70%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    .dataMetrics{
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
        border: 2px solid black;
        width: 40%;
        height: 130px;
        span {
            font-size: 30px;
            font-weight: bold;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            list-style-type: none;
            font-size: 25px;
            cursor: pointer;
            :first-child{
                font-weight: bold;
            }
        }
    }
}